@{
    ViewData["Title"] = "Clients";
}
<input type="hidden" id="detailUrl" value="@Url.Action("UserDetail", "Client")" />
<input type="hidden" id="clientUrl" value="@Url.Action("GetClients", "ClientsApi")" />
<input type="hidden" id="createUrl" value="@Url.Action("CreateUser", "Client")" />
<input type="hidden" id="editUrl" value="@Url.Action("EditUser", "Client")" />
<input type="hidden" id="deleteUrl" value="@Url.Action("Delete", "ClientsApi")" />

<div class="container-fluid clients-page">

    <!-- Search and Add Button -->
    <div class="row align-items-center mb-4">
        <div class="col-md-8">
            <div class="search-box">
                <h1 class="page-title">Clients</h1>
            </div>
        </div>
        <div class="col-md-4 text-end">
            <button class="purpulbtn" id="CreateUser">
                <i class="bi bi-plus-lg"></i> Add New Client
            </button>
        </div>


    </div>

    <!-- DataTable -->
    <div class="row">
        <div class="col-12">
            <table id="clientTable" class="table table-striped table-bordered table-hover" style="width:100%">
            </table>
        </div>
    </div>
</div>

<!-- Styles Section -->
@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
}

<!-- Scripts Section -->
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script src="~/js/Client/manage.js">      
    </script>
}
